{% extends 'base.html.twig' %}


{% block title %}Score{% endblock %}

{% block body %}
    <h1>Final Score :</h1>

    After all thoses Rock-Paper-Scissors, we have {{ final_score }} points.
{% endblock %}


